/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

  .gallery-book-list{
	width: 100%;
	height: 22px;
	margin-bottom: 25px;
	margin-top: 20px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 34px;
	span{
	  font-size: 18px;
	  left: 20px;
	  top: 12px;
	  color: #333;
	  font-weight: 700;
	}
	span+i{
	  font-size: 14px;
	  color: #999;
	  font-weight: 400;
	}
	i+a{
	  font-size: 12px;
	  color: #0057a0;
	}
  }
  img{
	display: block;
  }
  .book-list-right{
	width: 1005px;
	height: 550px;
	li{
	  text-align: center;
	  width: 140px;
	  height: 234px;
	  margin-right: 33px;
	  float: left;
	  margin-bottom:40px;
	  display: inline-block;
	  font-size: 12px;
	  position: relative;
	}
	li:nth-child(6n){
	  margin-right: 0;
	  
	}
	a{
	  width: 140px;
	  height: 140px;
	  color: #333;
	  div{
		display: none;
		position: absolute;
		top: 0px;
		left: 0px;
		width: 272px;
		max-height: 108px;
		border: 1px solid #e5e5e5;
		background: #fff;
		color: #666;
		text-align: justify;
		font-size: 12px;
		line-height: 20px;
		overflow: hidden;
		padding: 4px 6px;
	  }
	  img{
		vertical-align: baseline;
		display: inline-block;
	  max-width: 99;
	  height:140px;
	  font-size: 0;
	  margin: 0;
	  }
	}
	span{
	  width: 119px;
	  padding-left: 21px;
	  display: block;
	  max-height: 40px;
	  overflow: hidden;
	  text-align: left;
	}
	p{
	  text-align: left;
	  display: block;
	  color: #999;
	  height: 22px;
	  width: 119px;
	  overflow: hidden;
	  padding-left: 21px;
	}
	
	
	i{
	  // float: left;
	  margin-right: 3px;
	  color: #bf7f5f;
	  font-size: 16px;
	  padding-left: 21px;
  
	}
	h6{
	  color: #999;
	 display: inline;
	 position: absolute;
	 bottom: 0px;
	 left: 0px;
	}
  }
